@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

:root {
    --blue-100: #F0FBFF;
    --blue-300: #AAE8FF;
    --blue-500: #67C2E7;
    --blue-700: #20799D;
    --blue-900: #02131A;
}

@import url("https://use.typekit.net/uwk0unl.css");

html {
    font-size: calc(16px + .4vw);
}

h1, h2, h3, h4, h5, h6, .theme-font {
    font-family: sofia-pro-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.cat-watch-this .text-gray-700 {@apply text-pink-700;}
.cat-watch-this .text-gray-900 {@apply text-pink-900;}
.cat-watch-this .bg-gray-500 {@apply bg-pink-500;}
.cat-watch-this .bg-gray-100 {@apply bg-pink-100;}

.cat-read-this .text-gray-700 {@apply text-orange-700;}
.cat-read-this .text-gray-900 {@apply text-orange-900;}
.cat-read-this .bg-gray-500 {@apply bg-orange-500;}
.cat-read-this .bg-gray-100 {@apply bg-orange-100;}

.cat-facilitate-this .text-gray-700 {@apply text-purple-700;}
.cat-facilitate-this .text-gray-900 {@apply text-purple-900;}
.cat-facilitate-this .bg-gray-500 {@apply bg-purple-500;}
.cat-facilitate-this .bg-gray-100 {@apply bg-purple-100;}

.cat-click-this .text-gray-700 {@apply text-yellow-700;}
.cat-click-this .text-gray-900 {@apply text-yellow-900;}
.cat-click-this .bg-gray-500 {@apply bg-yellow-500;}
.cat-click-this .bg-gray-100 {@apply bg-yellow-100;}

.cat-listen-to-this .text-gray-700 {@apply text-green-700;}
.cat-listen-to-this .text-gray-900 {@apply text-green-900;}
.cat-listen-to-this .bg-gray-500 {@apply bg-green-500;}
.cat-listen-to-this .bg-gray-100 {@apply bg-green-100;}

/* Post Listing */

.postListing .post {
    padding: 20px;
    position: relative;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

    /* Hovers and Cateogry Styling */

    .postListing .post:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 20px;
        @apply bg-gray-100;
        z-index: -1;
        transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.475);
    }

    .postListing .post:hover {
        background: white;
    }

    .postListing .cat-watch-this.post:after { @apply bg-pink-100; }
    .postListing .cat-listen-to-this.post:after { @apply bg-green-100; }
    .postListing .cat-click-this.post:after { @apply bg-yellow-100; }
    .postListing .cat-read-this.post:after { @apply bg-orange-100; }
    .postListing .cat-facilitate-this.post:after { @apply bg-purple-100; }

    .postListing .post:hover:after {
        top: -10px;
        right: -10px;
        left: -10px;
        bottom: -10px;
        border-radius: 30px;
        @apply bg-pink-300;
    }

    .postListing .cat-watch-this.post:hover:after { @apply bg-pink-300; }
    .postListing .cat-listen-to-this.post:hover:after { @apply bg-green-300; }
    .postListing .cat-click-this.post:hover:after { @apply bg-yellow-300; }
    .postListing .cat-read-this.post:hover:after { @apply bg-orange-300; }
    .postListing .cat-facilitate-this.post:hover:after { @apply bg-purple-300; }

    .postListing .postCat, .postListing .postDate {
        position: absolute;
        line-height: 1;
        writing-mode: vertical-rl;        
    }

        .postListing .postCat {
            top: 20px;
            right: calc(100% - .5em);
        }

        .postListing .postDate {
            bottom: 20px;
            left: calc(100% - .5em);
        }   

    .postImage {
        width: 100%;
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .postListing .postImage {
        height: 160px;
    }

    .postListing .postExcerpt {
        display: none;
    }

    .postListing .postAuthor {
        transform: translateY(50%);
    }

/* Post View */

.authorBox {
    hyphens: auto;
}

.authorPicName {
    transform: translateY(-50%);
}

main.Single {
    padding: 0 20px;
}

    .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
        margin: 2em auto 1.5rem;
        line-height: 1;
    }

    .entry-content h2 {
        font-size: 2.4em;
    }

    .entry-content h3 {
        font-size: 1.8em;
    }

    .entry-content h4 {
        font-size: 1.5em;
    }

    .entry-content h5 {
        text-decoration: uppercase;
    }

    .entry-content a:not(.anchor) {
        border-bottom: .125em solid var(--blue-500);
        background: var(--blue-100);
    }

        .entry-content a:not(.anchor):hover {
            background: var(--blue-300);
        }

    .entry-content p {
        margin-bottom: 1.5rem;
    }

    .entry-content ul, .entry-content ol, .entry-content pre, .entry-content address, .entry-content blockquote {
        margin-bottom: 1.5em;
    }

    .entry-content ul, .entry-content ol {
        padding-left: 1.5rem;
    }

    .entry-content ul li, .entry-content ol li {
        margin-bottom: 1rem;
    }

        .entry-content ul li:last-child, .entry-content ol li:last-child {
            margin-bottom: 0;
        }

    .entry-content ul {
        list-style: circle;
    }

    .entry-content ol {
        list-style: decimal;
    }

@media only screen and (min-width: 768px) {

    .postListing .post {
        width: calc(50% - 2rem);
    }

    /* Featured Posts */

    .postListing .post.cat-facilitate-this {
        width: calc(100% - 2rem);
        flex-direction: row;
    }

        .postListing .post.cat-facilitate-this .postImage {
            height: 100%;
            min-width: calc(310px + 2rem);
            margin-right: 20px;
        }

        .postListing .post.cat-facilitate-this .postExcerpt {
            display: block;
        }

        .postListing .post.cat-facilitate-this .postAuthor {
            left: 460px;
        }

    /* Single View */

    main.Single {
        padding-left: 3rem;
    }

    .postMeta {
        top: 20px;
        left: 1.5rem;
        transform: translateX(-50%);
        writing-mode: vertical-rl;
        line-height: 1;
    }
    
}

@media only screen and (min-width: 1030px) {
    .postListing .post {
        width: calc(33.333% - 2rem);
    }

        .postListing .post.cat-facilitate-this {
            width: calc(66.666% - 2rem);
        }
}

@media only screen and (min-width: 1030px) {

    .postListing {
        padding: 0 1.5rem;
    }
    .postListing .post {
        width: calc(33.333% - 3rem);
        margin: 0 1.5rem 3rem;
    }

        .postListing .post.cat-facilitate-this {
            width: calc(66.666% - 3rem);
        }
}

/* purgecss end ignore */